##
# {{ ansible_managed }}
#

{#
	General
#}

{#
	Nginx
#}
proxy_listen = {{ sansible_kong_proxy_listen }}
proxy_listen_ssl = {{ sansible_kong_proxy_listen_ssl }}
admin_listen = {{ sansible_kong_admin_api_listen }}

{#
	Datastore
	Supports only Postgresql for now
#}
database = postgres

pg_host = {{ sansible_kong_db_host }}
pg_port = {{ sansible_kong_db_port }}
pg_user = {{ sansible_kong_db_user }}
pg_password = {{ sansible_kong_db_password }}
pg_database = {{ sansible_kong_db_name }}
pg_ssl = off
pg_ssl_verify = off
